
.successMessage {
  position: absolute;
  top: 10px; 
  left: 50%; /* Centralize horizontalmente */
  transform: translateX(-50%); /* Centralize horizontalmente */
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 2; 
}

/* Estilo para mensagem de erro */
.errorMessage {
  position: absolute; 
  top: 90px; 
  left: 50%; /* Centralize horizontalmente */
  transform: translateX(-50%); 
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 2; 
}

/* Estilos gerais do formulário */
.centeredFormLoginEmp {
  background-color: #6E7EC2;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.inputContainerLoginEmp {
  width: 100%;
  margin: 10px 0;
}

.inputFieldLoginEmp {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc; /* Cor da borda mais suave */
  border-radius: 4px;
  padding: 10px;
  background-color: #fff; /* Cor de fundo branca */
  outline: none;
  color: #333;
  transition: border-color 0.3s ease, background-color 0.3s ease;

}

.inputFieldLoginEmp:focus{
  border-color: #9E5A67; 
}

.buttonLoginEmp {
  width: 100%;
  height: 40px;
  background-color: #C26E7E;
  color: #333;
  border: none;
  margin: 10px 0;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttonLoginEmp:hover{
  background-color: #9E5A67;
}

@media (min-width: 701px) {
  form {
    width: 700px;
    max-width: 71%;
    margin: 0 auto; 
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .centeredFormLoginEmp {
    width: 400px; 
    max-width: 100%;
    margin: 0 auto; /* Centralize o formulário na tela */
  }
  .buttonLoginEmp{
    margin-right: 50px;
  }
}

/* Estilos específicos para telas menores que 400px (o estilo original) */
@media (max-width: 300px) {
  .centeredFormLoginEmp {
    width: 100%; /* Estilo original para telas menores que 400px */
    max-width: 100%; 
  }
  .inputFieldLoginEmp{
    width: 250px;
    margin-right: 50px;
  }
  .buttonLoginEmp{
    margin-right: 20px;
  }
}