
/* Estilos para o formulário */
.centeredForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #101e5c;
    margin: 0;
  }

  .successMessage {
    position: absolute;
    top: 10px; 
    left: 50%; /* Centralize horizontalmente */
    transform: translateX(-50%); /* Centralize horizontalmente */
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 2; 
  }
  
  /* Estilo para mensagem de erro */
  .errorMessage {
    position: absolute; 
    top: 10px; 
    left: 50%; /* Centralize horizontalmente */
    transform: translateX(-50%); 
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 2; 
  }
  
.form {
    background-color: #ffc0cb;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
.inputContainer {
    margin: 10px 0;
  }
  
.inputField {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    outline: none;
    color: black;
  }
  

.button {
    width: 150px;
    height: 40px;
    background-color: #b14f28;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
.button:hover {
    background-color: #214b86;
  }
  