.selec {
    width: 100%;
    height: 30px;
    margin-top: 70px; /* Reduz a margem superior para encaixar melhor */
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #C26E7E;
    outline: none;
    color: black;
  }


    @media (min-width: 320px) and (max-width: 760px){
        .selec{
            width: 113%;
        }
    }

    @media(max-width: 300px){
        .selec{
            width: 115%;
        }
    }
