.centeredForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #101e5c;
  margin: 0;
}

form {
  background-color: #ffc0cb;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.inputContainer {
  flex: 1;
  margin: 0 5px;
}

.inputField {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  outline: none;
  color: black;
}

button {
  width: 150px;
  height: 40px;
  background-color: #b14f28;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #214b86;
}

