/* Estilos gerais do formulário */
form {
  background-color: #ffc0cb;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 80%; /* Defina a largura do formulário como 80% da largura do pai */
  max-width: 400px; /* Limite a largura máxima do formulário para dispositivos maiores */
}

.inputContainer {
  margin: 10px 0;
}

input {
  width: 100%; /* Faça os campos de entrada ocuparem 100% da largura do formulário */
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  outline: none;
  color: black;
}

.button {
  width: 60%; /* Faça o botão ocupar 100% da largura do formulário */
  height: 40px;
  background-color: #b14f28;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos para dispositivos menores, como smartphones */
@media (max-width: 768px) {
  form {
    width: 90%; /* Reduza a largura do formulário para 90% em dispositivos menores */
  }
}

  
  @media (min-width: 701px) {
    form {
      width: 700px; /* Defina a largura desejada para telas maiores */
      max-width: 71%; /* Defina uma largura máxima para evitar que o formulário fique muito largo */
      margin: 0 auto; /* Centralize o formulário na tela */
    }
  }
  
  /* Estilos específicos para telas com largura entre 401px e 700px (o estilo original) */
  @media (min-width: 401px) and (max-width: 700px) {
    form {
      width: 400px; /* Estilo original para telas entre 401px e 700px */
      max-width: 100%;
      margin: 0 auto; /* Centralize o formulário na tela */
    }
  
  }
  
  /* Estilos específicos para telas menores que 400px (o estilo original) */
  @media (max-width: 400px) {
    form {
      width: 100%; /* Estilo original para telas menores que 400px */
      max-width: 100%; 
    }
  }
  