/* Estilos gerais do formulário */
.centeredForm-pro {
  background-color: #6E7EC2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 800px; /* Define a largura do formulário como 60% */
  max-width: 400px; /* Define a largura máxima como 50% */
  margin: 0 auto;
  height: 600px;
}


.select-empresa {
  width: 100%;
  height: 30px;
  margin-top: 2px; /* Reduz a margem superior para encaixar melhor */
  border: none;
  border-radius: 5px;
  padding: 2px;
  background-color: #C26E7E;
  outline: none;
  color: black;
}

.inputContainer-pro {
  margin: 10px 0;
}

.inputFieldPro {
  width: 100%; /* Faça os campos de entrada ocuparem 100% da largura do formulário */
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  outline: none;
  color: black;
}

.button-pro {
  width: 60%; /* Define a largura do botão como 60% */
  height: 40px;
  background-color: #C26E7E;
  color: #fff;
  border: none;
  margin: 5px auto;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.buttonpro1{
  width: 60%; /* Define a largura do botão como 60% */
  height: 40px;
  background-color: #C26E7E;
  color: #fff;
  border: none;
  margin: 7px auto;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos para dispositivos menores, como smartphones */
@media (max-width: 768px) {
  form {
    width: 90%; /* Reduza a largura do formulário para 90% em dispositivos menores */
  }
}

  
  @media (min-width: 701px) {
    form {
      width: 700px; /* Defina a largura desejada para telas maiores */
      max-width: 71%; /* Defina uma largura máxima para evitar que o formulário fique muito largo */
      margin: 0 auto; /* Centralize o formulário na tela */
    }
  }
  
  /* Estilos específicos para telas com largura entre 401px e 700px (o estilo original) */
  @media (min-width: 320px) and (max-width: 700px) {
    .centeredForm-pro{
      width: 400px; 
      max-width: 100%;
      margin: 0 auto; /* Centralize o formulário na tela */
    }
    .button-pro{
      margin-right: 50px;
    }
    .buttonpro1{
      margin-right: 50px;
    }
  
  }
  
  /* Estilos específicos para telas menores que 400px (o estilo original) */
  @media (max-width: 400px) {
    .centeredForm-pro {
      width: 100%; /* Estilo original para telas menores que 400px */
      max-width: 100%; 
    }
  }
  