/* Estilos gerais do formulário */
.centeredForm-pro {
  background-color: #6E7EC2; 
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 650px;
}


.select-empresa {
  width: 100%;
  height: 30px;
  margin-top: 1px; /* Reduz a margem superior para encaixar melhor */
  border: none;
  border-radius: 5px;
  padding: 2px;
  background-color: #C26E7E;
  outline: none;
  color: black;
}

.inputContainer-pro {
  width: 100%;
  margin: 10px 0;
}

.inputFieldPro {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc; /* Cor da borda mais suave */
  border-radius: 4px;
  padding: 10px;
  background-color: #fff; /* Cor de fundo branca */
  outline: none;
  color: #333;
  transition: border-color 0.3s ease, background-color 0.3s ease; /* Efeito de transição suave */
}

.inputFieldPro:focus {
  border-color: #9E5A67; 
}

.button-pro {
  width: 100%;
  height: 40px;
  background-color: #C26E7E; 
  color: #333;
  border: none;
  margin: 3px 0;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Efeito de transição suave */
}

.buttonpro1{
  width: 100%;
  height: 40px;
  background-color: #C26E7E; 
  color: #333;
  border: none;
  margin: 3px 0;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Efeito de transição suave */
}

.buttonpro1 a {
  color: #333;
}

.buttonpro1 a:hover{
  color: #333;
}

.buttonPro:hover {
  background-color: #9E5A67; /* Cor mais escura ao passar o mouse */
}

.buttonPro1:hover {
  background-color: #9E5A67; /* Cor mais escura ao passar o mouse */
}

/* Estilos para dispositivos menores, como smartphones */
@media (max-width: 768px) {
  form {
    width: 90%; /* Reduza a largura do formulário para 90% em dispositivos menores */
  }
}

  
  @media (min-width: 701px) {
    form {
      width: 700px; /* Defina a largura desejada para telas maiores */
      max-width: 71%; /* Defina uma largura máxima para evitar que o formulário fique muito largo */
      margin: 0 auto; /* Centralize o formulário na tela */
    }
  }
  
  /* Estilos específicos para telas com largura entre 401px e 700px (o estilo original) */
  @media (min-width: 320px) and (max-width: 700px) {
    .centeredForm-pro{
      width: 400px; 
      max-width: 100%;
      margin: 0 auto; /* Centralize o formulário na tela */
    }
    .button-pro{
      margin-right: 50px;
    }
    .buttonpro1{
      margin-right: 50px;
    }
  
  }
  
  /* Estilos específicos para telas menores que 400px (o estilo original) */
  @media (max-width: 400px) {
    .centeredForm-pro {
      width: 100%; /* Estilo original para telas menores que 400px */
      max-width: 100%; 
    }
  }
  