
.successMessage {
  position: absolute;
  top: 10px; 
  left: 50%; /* Centralize horizontalmente */
  transform: translateX(-50%); /* Centralize horizontalmente */
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 2; 
}

/* Estilo para mensagem de erro */
.errorMessage {
  position: absolute; 
  top: 90px; 
  left: 50%; /* Centralize horizontalmente */
  transform: translateX(-50%); 
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 2; 
}

/* Estilos gerais do formulário */
.centeredFormLoginPro {
  background-color: #6E7EC2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 800px; /* Define a largura do formulário como 60% */
  max-width: 400px; /* Define a largura máxima como 50% */
  margin: 0 auto;
  height: 200px;
}


.inputContainerLoginPro {
  margin-bottom: 15px;
}

.inputFieldLoginPro {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.buttonLoginPro{
  width: 60%; /* Define a largura do botão como 60% */
  height: 40px;
  background-color: #C26E7E;
  color: #fff;
  border: none;
  margin: 20px auto;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 701px) {
  form {
    width: 700px;
    max-width: 71%;
    margin: 0 auto; 
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .centeredFormLoginPro {
    width: 400px; /* Estilo original para telas entre 401px e 700px */
    max-width: 100%;
    margin: 0 auto; /* Centralize o formulário na tela */
  }
  .buttonLoginPro{
    margin-right: 50px;
  }
}

/* Estilos específicos para telas menores que 400px (o estilo original) */
@media (max-width: 300px) {
  .centeredFormLoginPro {
    width: 100%; /* Estilo original para telas menores que 400px */
    max-width: 100%; 
  }
  .inputFieldLoginPro{
    width: 250px;
    margin-right: 50px;
  }
  .buttonLoginPro{
    margin-right: 20px;
  }
}