.centerdFormProfileEmp {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #6E7EC2;
}

.centeredFormProfileEmp{
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #6E7EC2;
}

.rowProfileEmp {
    margin: 10px 0;
}

.infoButtonEmp{
    margin: 1px auto;
    width: 150px;
    height: 40px;
    color: #333;
    background-color: #C26E7E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.infoButtonEmp a {
  color: #333;
}

.infoButtonEmp a:hover {
  color: #333;
}

.infoButtonProfileEmp{
    padding: 10px 20px;
    margin-top: 5px;
    margin-right: 10px;
    width: 150px;
    color: #333;
    background-color: #C26E7E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.rowEmpInfo{
  color: black;
}

.logoutEmp{
  width: 150px;
  height: 40px;
  margin: 5px auto;
  font-size: 15px;
  font-weight: 700;
  background-color: #C26E7E;
  color: #333;
}


.select-profissional{
  width: 400px;
  height: 30px;
  margin-top: 2px; /* Reduz a margem superior para encaixar melhor */
  border: none;
  border-radius: 5px;
  padding: 2px;
  background-color: #C26E7E;
  outline: none;
  color: black;
}

.buttonpadEmp{
  width: 150px;
  height: 40px;
  margin: 15px;
  margin-left: 250px;
  padding: 2px;
  margin-right: -190px;
  font-size: 14px;
  font-weight: 700;
  background-color: #C26E7E;
}

.buttonEmp{
  color: black;
}

.centeredFormHorarioEmp {
    font-family: Arial, sans-serif;
    max-width: 500px;
    height: 250px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #6E7EC2;
}

.inputEmpHorario{
    height: 30px;
    display: flex;
    width: 450px;
    margin: 5px;
    margin-left: 20px;
    padding: 10px; 
}

.historicoEmp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .h3H{
    color: black;
  }
  
  .infoProfileEmp{
    border: 1px solid #ddd;
  }

  .card-body {
    background-color: #6E7EC2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  
  }
  
  .imgAg2 {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .rowHistoricoEmp {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .buttonHistoricoEmp a{
    background-color: #C26E7E;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
  }
  
  .buttonHistoricoEmp a:hover {
    color: #333;
  }

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service-card {
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
.cardServ{
  background-color: #6E7EC2;
  width: 200px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espaço entre as linhas dentro do card */
  padding: 8px;
  text-align: left;
}

.rowServ{
    margin: 8px auto;
    color: black;
    text-align: left;
}

.buttonServ,
.buttonServ1 {
  width: 100%;
  margin-top: auto;
  background-color: #C26E7E;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2px; /* Espaço na parte inferior do botão */
  transition: background-color 0.3s ease; /* Transição suave de hover */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.buttonServ:hover,
.buttonServ1:hover,
.buttonServ2:hover {
  background-color: #A05263; /* Cor diferente ao passar o mouse */
}

.buttonServ1{
  font-size: 13px;
  color: #333;
}

.buttonServ1 a:hover {
  color: #333;
}

.formServ {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #6E7EC2;
  color: #fff;
}

.rowServ {
  margin: 10px 0;
}

.controlEmp,
.controlEmp1 {
  width: 100%;
  height: 30px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.iconE{
  color: #333;
  margin: 1px;
}