/* Estilo geral da seção de perfil */
.centeredFormProfileCli {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #6E7EC2;
  }


.rowProfileCli{
  margin: 10px 0;
  text-align: left;
}
  
  /* Estilos do botão Salvar/Cancelar */
  .buttonProfileCli {
    padding: 2px;
    margin: 10px;
    margin-right: 3px;
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #C26E7E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
 
 .infoProfileCli{
  height: 130px;
 }

 .infoButtonProfileCli{
  margin-top: 120px;
    padding: 2px;
    margin-right: 10px;
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #C26E7E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
 }

 .cartaoButton{
  width: 150px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  background-color: #C26E7E;
  margin: 15px;
  margin-left: 20px;
 }

 .logoutCli{
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  background-color: #C26E7E;
 }

 .cartaoRowCli{
  margin: 2px;
  text-align: center;
  padding: 2px;
  margin-right: 10px;
 }

 .centeredFormCartaoCli {
  font-family: Arial, sans-serif;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #6E7EC2;
}

.buttonCartaoCli{
  padding: 12px;
  margin: 24px;
  margin-right: 1px;
  width: 150px;
  height: 40px;
  font-weight: 700;
  color: #fff;
  background-color: #C26E7E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.agendamentoCliente{
  width: 270px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: #6E7EC2;
}

.rowAgendCliente{
    border: 1px solid #ccc; 
    padding: 1px; 
    width: 240px;
    margin: 5px;
    margin-left: -19px;
    margin-bottom: 1px; 
    font-size: 17px;
    border-radius: 5px; 
    background-color: #f9f9f9; 
    color: black;
}

.rowAgendCliente:hover{
  background-color: #e0e0e0;
}

.containerCartao{
  width: 370px;
  height: 350px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  background-color: #6E7EC2;
}

.cartaoCli {
  border: 1px solid #ccc; 
  padding: 15px; 
  margin: 5px;
  margin-bottom: 1px; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  color: black;
}

.cartaoCli:hover {
  background-color: #e0e0e0; 
}

.buttonExcluirCartao{
  width: 45%;
  margin: 2px auto;
  padding: 10px;
  font-weight: 400;
  background-color: #C26E7E;
}

.containerFavs{
  background-color: #6E7EC2;
  width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: calc(11.1% - 20px); /* 100% / 9 - 20px de margem entre os itens */
}

.containerFavs:nth-child(1n){
  margin-right: 0;
}




