/* Estilo geral da seção de perfil */
.centeredFormProfileCli {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #6E7EC2;
  }

  .cardProfile{
    padding: 0px;
    width: 400px;
  }
  .centeredFormProfileCli {
    text-align: center;
  }
  
  .infoProfileCli {
    background-color: #f8f8f8; 
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
  }
  
  .infoButtonProfileCli {
    background-color: #C26E7E; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }

  
 .cartaoButton{
  width: 150px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  background-color: #C26E7E;
  margin: 15px;
  margin-left: 20px;
 }

 .logoutCli{
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  background-color: #C26E7E;
 }

 .cartaoRowCli{
  margin: 2px;
  text-align: center;
  padding: 2px;
  margin-right: 10px;
 }

 .centeredFormCartaoCli {
  font-family: Arial, sans-serif;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #6E7EC2;
}

.buttonCartaoCli{
  padding: 12px;
  margin: 24px;
  margin-right: 1px;
  width: 150px;
  height: 40px;
  font-weight: 700;
  color: #fff;
  background-color: #C26E7E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.containerAgendamentoCliente {
  padding: 10px;
}

.agendamentoCliente {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardColor {
  background-color: #6E7EC2;
  border: 1px solid #ddd; 
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px; 
}

.imgAg1 {
  width: 100%;
  height: 150px;
  object-fit: cover; 
  border-radius: 5px;
  margin-bottom: 10px;
}

.rowColor {
  margin-bottom: 10px;
}

.rowAgendCliente {
  margin-bottom: 5px;
  text-align: left;
}

.buttonAg{
  background-color: #C26E7E;
  margin: 2px;
}

.containerCartao {
  background-color: #6E7EC2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 7px;
}

.cartaoCli {
  margin-bottom: 10px;
  text-align: left;
  color: #333;
}

.buttonExcluirCartao {
  background-color: #dc3545; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
}

.buttonVoltarCartao {
  background-color: #C26E7E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.buttonVoltarCartao a {
  color: #fff;
  text-decoration: none;
}

.cardFav {
  background-color: #6E7EC2; 
  border: 1px solid #ddd; 
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 250px; 
}

.imgAg {
  width: 100%;
  height: 150px;
  object-fit: cover; 
  border-radius: 5px;
  margin-bottom: -10px;
}

.rowFavs {
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.card-description {
  font-size: 14px;
  color: #333;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #C26E7E; 
  margin-top: 10px;
}

.buttonFav1 {
  margin: 10px;
  background-color: #C26E7E; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}





