#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.my-header {
  display: flex;
  align-items: center; /* Alinhe verticalmente os elementos no cabeçalho */
  font-size: 12px;
  line-height: 1em;
  width: 100vw;
}

.my-list {
  display: flex;
  gap: 1rem;
  background-color: #101e5c;
  border-radius: 5px;
  padding: 2px 5px;
  list-style: none;
  margin: 0; /* Remova a margem superior */
}

.my-list li a {
  display: flex;
  align-items: center; /* Alinhe verticalmente os ícones e texto */
  color: white;
  font-size: 14px;
  text-decoration: none; /* Remova a sublinhado padrão dos links */
  padding: 10px; /* Adicione um espaçamento uniforme */
  border-bottom: 3px solid transparent;
}

.my-list li a.active {
  border-bottom: 3px solid #3C8DDE;
}

   