#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.my-header{
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  line-height: 1em;
  width: 100vw;
}

.my-list{
  display: flex;
  position: relative;
  float: none;
  top: 0;
  left: 0;
  font-size: 14px;
  gap: 1rem;
  background-color: #101e5c;
  border-radius: 5px;
  padding: 2px 5px;
  list-style: none;
}

.my-list li a {
  display: block;
  color: white;
  height: 60px;
  position: relative;
  width: 100%;
  font-size: 14px;
  z-index: 5;
}

.my-list li a.active {
  border-bottom: 3px solid #3C8DDE;
}
   