
.successMessage {
  position: absolute;
  top: 10px; 
  left: 50%; /* Centralize horizontalmente */
  transform: translateX(-50%); /* Centralize horizontalmente */
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 2; 
}

/* Estilo para mensagem de erro */
.errorMessage {
  position: absolute; 
  top: 90px; 
  left: 50%; /* Centralize horizontalmente */
  transform: translateX(-50%); 
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 2; 
}

/* Estilos gerais do formulário */
.centeredFormLoginCli {
  background-color: #6E7EC2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 800px; /* Define a largura do formulário como 60% */
  max-width: 400px; /* Define a largura máxima como 50% */
  margin: 0 auto;
  height: 200px;
}


.inputContainerLoginCli {
  width: 100vw; /* Ocupa 80% da largura do contêiner */
  max-width: 300px; 
  height: 26px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  color: black;
}

.inputFieldLoginCli {
  width: 300px;
  height: 38px;
  border: none;
  border-radius: 5px;
  padding: 2px;
  background-color: #fff; 
  outline: none;
  color: black;
}

.buttonLoginCli {
  width: 60%; /* Define a largura do botão como 60% */
  height: 40px;
  background-color: #C26E7E;
  color: #fff;
  border: none;
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 701px) {
  form {
    width: 700px;
    max-width: 71%;
    margin: 0 auto; 
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .centeredFormLoginCli {
    width: 400px; /* Estilo original para telas entre 401px e 700px */
    max-width: 100%;
    margin: 0 auto; /* Centralize o formulário na tela */
  }
  .buttonLoginCli{
    margin-right: 50px;
  }
}

/* Estilos específicos para telas menores que 400px (o estilo original) */
@media (max-width: 300px) {
  .centeredFormLoginCli {
    width: 100%; /* Estilo original para telas menores que 400px */
    max-width: 100%; 
  }
 .inputFieldLoginCli{
  width: 250px;
  margin-right: 50px;
 }
 .buttonLoginCli{
  margin-right: 50px;
 }
}